<%- include ../layouts/cabecera.ejs %>
<br>
<div class="card" style="border: 1px solid #000">
    <div class="card-header" style="background-color: #0d6efd; color: #fff; font-size: 30px;">
        NUEVA POD
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos</h5>
        <p class="card-text">
            <form method="post" action="/entregas" enctype="multipart/form-data">
    
                <div class="form-group" style="margin: 10px">
                    <label for="my-input">Titulo</label>
                    <input id="my-input" class="form-control" type="text" name="titulo" required>
                </div>
            
                <div class="form-group" style="margin: 10px">
                    <label for="my-textarea">Descripcion</label>
                    <textarea id="my-textarea" class="form-control" name="descripcion" rows="5" required></textarea>
                </div>
            
                <div class="form-group" style="margin: 10px">
                    <label for="my-input">Foto</label>
                    <input id="my-input" class="form-control-file" type="file" name="archivo" required style="width: 100%;">
                </div>
                
                <br>
                <br>
                <button class="btn btn-primary" type="submit" style="border: 1px solid #000">Guardar</button>
                <a class="btn btn-secondary" href="/entregas" style="border: 1px solid #000">Cancelar</a>
            </form>
        </p>
    </div>
</div> 

<%- include ../layouts/pie.ejs %> 